<!DOCTYPE html>
<html lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">new File(fileUpload + fileName)
    <title>Title</title>
</head>
<body>
<center>
    <h3>Create new song</h3>
    <p>
        <a th:href="@{musicapp}">
            Back to list song
        </a>
    </p>
</center>
<div id="form">
    <form th:action="@{/musicapp/edit}" method="post" novalidate="novalidate" th:object="${song}" enctype="multipart/form-data">
        <div>
            <label>Song: </label>
            <input type="text" th:field="*{nameSong}">
        </div>
        <div>
            <label>Singer: </label>
            <input type="text" th:field="*{nameSinger}">
        </div>
        <div>
            <label>Kind of music: </label>
            <input type="text" th:field="*{kindOfMusic}">
        </div>
        <div>
            <label>Directory: </label>
            <input type="file" name="filePath">
            <input type="hidden" th:field="*{directorySong}">
        </div>
        <input type="submit" value="edit">
    </form>
</div>
</body>
</html>